<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Chat Me</title>
</head>
<body>
    <div class="container-fluid welcome-container">
        <div class="row h-100 align-items-center">
            <div class="col-md-6 offset-md-3 h-50 welcome-col text-justify">
                <h2 style="text-align: center;">Welcome! Enter your name to continue</h2>
                <form class="welcome-form text-justify justify-content-center">
                    <div class="form-group">
                        <input type="text" name="name" id="name-input" class="form-control" placeholder="Enter your name" required>
                    </div>
                    <div class="row justify-content-center">
                        <button class="submit-btn btn-secondary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="welcome.js"></script>
</body>
</html>