* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(64, 64, 64, 1) 29%,
    rgba(0, 0, 0, 1) 87%
  );
}

body {
  height: 100vh;
}

.welcome-container {
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(64, 64, 64, 1) 29%,
    rgba(0, 0, 0, 1) 87%
  );
}

.welcome-col {
  background-color: #00001a;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
}

.welcome-col h2 {
  color: aliceblue;
}

#name-input {
  margin-bottom: 20px;
}

.submit-btn {
  width: 100px;
  height: 50px;
  font-size: 24px;
  border-radius: 8px;
}

.main {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(64, 64, 64, 1) 29%,
    rgba(0, 0, 0, 1) 87%
  );
}

#video-grid {
  /* display: flex;
  justify-content: space-around; */
  height: 70vh;
}

.inviteUserRow {
  margin: 40px 0px;
}

#video-controls {
  height: 10vh;
  /* background-color: black; */
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}

#video-controls i {
  color: whitesmoke;
  font-size: 24px;
  cursor: pointer;
}

#video-controls i:hover {
  color: gray;
  font-size: 24px;
  cursor: pointer;
}

#video-controls span {
  text-align: center;
  color: whitesmoke;
}

video {
  height: 270px;
  width: 360px;
  object-fit: cover;
  margin: 5px;
  border-radius: 20px;
}

.chat_col {
  background-color: whitesmoke;
}

.chat_header {
  background-color: whitesmoke;
  height: 70vh;
  overflow: scroll;
}

.send-message-input {
  margin: 20px 0px;
}

#chat-controls {
  height: 10vh;
  display: flex;
  justify-content: end;
  vertical-align: middle;
  padding: 20px;
}

#chat-controls button {
  height: 50px;
  width: 100px;
}

.sentMessage {
  text-align: right;
  padding: 10px;
}

.recieveMessage {
  text-align: left;
  padding: 10px;
}
